@import 'tailwindcss';

*{
    font-family: Roboto;
}

html,body{
    overflow-x: hidden;
}

.image{
    background-image: url('./assets/background.jpg');
    background-position: center center;
    background-size: cover;
}

.designer{
    -webkit-text-stroke: 1px white;
    font-family: Arial, Helvetica, sans-serif;
}